html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

/* title */
.navbar-inverse .navbar-brand {
    color: white;
}

#navbarDropdownUser {
    !visibility: hidden;
}

.panel {
    background-image: url('../img/home4.png');
    background-position: center center;
	
	/* La imatge de fondo no es repeteix */
	background-repeat: no-repeat;
	
	/* La imatge de fons esta fixada en el viewport, de manera que no es mou cuan la altura del contingut superi la altura de la imatge. */
	background-attachment: fixed;
	
	/* La imatge de fons es reescalarà quan canvii el ample de la finestra del navegador */
	background-size: cover;
    margin-top: -20px;
    float: left;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}


.panel1 {
    
    background-color: rgba(255, 255, 255, 0.92);
    width: 85%;
    height: 100%;
    float: right;
}

.panel2 {
    
    background-color: rgba(255, 255, 255, 1);
    width: 15%;
    height: 100%;
    float: left;
    border-right: groove;
}

@media screen and (max-width: 650px){
	.panel2 {
        width: 35%;
    }
    
    .panel1 {
        width: 65%;
    }
}

@media screen and (max-width: 1200px){
	.panel2 {
        width: 22%;
    }
    
    .panel1 {
        width: 78%;
    }
}


.dades {
    margin: 20px;
}

.titol2 {
    color: #5360ff;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

h4 {
    padding-top: 20px;
}

.row {
    padding-top: 80px;
}

.dadesUsuari {
    font-size: 17px;
    font-weight: normal;
}

.missatgeError {
    color: red;
}

.btn-default {
    margin-left: 0px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #2d3df8;
}


#editarGimnas {
    background-color: rgb(230, 230, 230);
}

.btn-primary {
    background-color: #515EF6;
}

#crearGimnas {
    visibility: hidden;
}

#editarGimnas {
    visibility: hidden;
}

.dadesText {
    font-weight: bold;
}

.dadesInput {
    font-weight: normal;
}

.classe {
    width: 100%;
}

.divClasse {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    width: 150px;
}


.infoImatge {
    text-align: center;
	vertical-align: middle;
    font-weight: bold;
}

#contenidor {
    height: 450px;
}