html, body {
	height: 100%;
	margin:0;
	padding:0;
}

body {
	/* Ubicación de la imagen */
	/* background-image: url('../img/home4.png'); */
	
	
	/* Imatge de fons centrada verticalment i horizontalment */
	background-position: center center;
	
	/* La imatge de fondo no es repeteix */
	background-repeat: no-repeat;
	
	/* La imatge de fons esta fixada en el viewport, de manera que no es mou cuan la altura del contingut superi la altura de la imatge. */
	background-attachment: fixed;
	
	/* La imatge de fons es reescalarà quan canvii el ample de la finestra del navegador */
	background-size: cover;
	
	/* Fixem un color de fons per a que es mostri mentres es carga la imatge de fons o si hi ha problemes en cargarla */
	background-color: #464646;
    
}
/* Aqui posar el primer element que hi hagi despres del body (al html) */
p {
	margin-top:0;
}

.linkMaps {
    color: white;   
}


.nabvar-inverse .navbar-text {
	color: white;
}
/* title */
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: white;
}

#navbarDropdownUser {
    !visibility: hidden;
}

.missatgeError {
    color: red;
}

.punch {
    position: absolute;
    
  margin-left: 15%;
  margin-top: 200px;
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 25px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 550px;
    height: 80px;
  -webkit-background-clip: padding-box;
}

.punch:hover {
  -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer;
    
}
    
.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
}

.titol2 {
    color: #5360ff;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.descripcio {
    background-color: white;
    width: 45%;
    margin-top: 400px;
    padding: 20px 0 0;
    background: rgba(223, 228, 255, 0.92);
    !font-weight: bold;
    
    !margin-bottom: 15px;
    font-size: 21px;
    font-weight: 600;
    
    border: 10px solid #5360ff; 
    border-radius: 20px;
    border-style: ridge;
    
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
    margin-left: -900px;
    
    -webkit-transition: 2s ease;
	-moz-transition: 2s ease;
	-o-transition: 2s ease;
	transition: 2s ease;
}

.descripcio2 {
    background-color: white;
    width: 45%;
    margin-top: 400px;
    padding: 20px 0 0;
    background: rgba(223, 228, 255, 0.92);
    !font-weight: bold;
    
    !margin-bottom: 15px;
    font-size: 21px;
    font-weight: 600;
    
    border: 10px solid #5360ff; 
    border-radius: 20px;
    border-style: ridge;
    
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
    margin-left: 26%;
}

.btn-primary {
    background-color: #515EF6;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #2d3df8;
}

#info {
    margin-left: 10px;
}

#test {
    position: absolute;
    left: 6.5%;
    top: 30%;
}

@media screen and (max-width: 1053px){
	.descripcio {
        font-size: 17px;
    }
    
    .descripcio2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px){
	.descripcio {
        font-size: 15px;
    }
    
    .descripcio2 {
        font-size: 15px;
    }
}