html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}


/* Aqui posar el primer element que hi hagi despres del body (al html) */
#map-canvas {
	!margin-top:0;
    margin-top: -20px;
    height: 100%;
}


/* title */
.navbar-inverse .navbar-brand {
    color: white;
}

#navbarDropdownUser {
    !visibility: hidden;
}

.missatgeError {
    color: red;
}

.titol2 {
    color: #5360ff;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.btn-primary {
    background-color: #515EF6;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #2d3df8;
}


#panelGimnas {
    margin-left: 20px;
}