html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

/* title */
.navbar-inverse .navbar-brand {
    color: white;
}

#navbarDropdownUser {
    !visibility: hidden;
}

.panel {
    background-image: url('../img/home4.png');
    background-position: center center;
	
	/* La imatge de fondo no es repeteix */
	background-repeat: no-repeat;
	
	/* La imatge de fons esta fixada en el viewport, de manera que no es mou cuan la altura del contingut superi la altura de la imatge. */
	background-attachment: fixed;
	
	/* La imatge de fons es reescalarà quan canvii el ample de la finestra del navegador */
	background-size: cover;
    margin-top: -20px;
    float: left;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}


.panel1 {
    
    background-color: rgba(255, 255, 255, 0.90);
    width: 85%;
    height: 100%;
    float: right;
    
}

.panel2 {
    
    background-color: rgba(255, 255, 255, 1);
    width: 15%;
    height: 100%;
    float: left;
    border-right: groove;
    
}

@media screen and (max-width: 650px){
	.panel2 {
        width: 35%;
    }
    
    .panel1 {
        width: 65%;
    }
}

@media screen and (max-width: 1200px){
	.panel2 {
        width: 22%;
    }
    
    .panel1 {
        width: 78%;
    }
}


.dades {
    margin: 20px;
    margin-left: 40px;
}

.titol2 {
    color: #5360ff;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

button.minimal-indent {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #dddddd), color-stop(50%, #d2d2d2), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #666;
  font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 7px 0;
  text-shadow: 0 1px 1px #fff;
  !width: 150px;
}

div.indent {
  background-color: #e2e2e2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(top, #e2e2e2, #fafafa);
  background-image: -moz-linear-gradient(top, #e2e2e2, #fafafa);
  background-image: -ms-linear-gradient(top, #e2e2e2, #fafafa);
  background-image: -o-linear-gradient(top, #e2e2e2, #fafafa);
  background-image: linear-gradient(top, #e2e2e2, #fafafa);
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #dfdfdf;
  border-radius: 8px;
  !margin: 50px auto 0;
  padding: 10px 0;
  width: 400px;
    text-align: center;
}

button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

.btn-danger {
    margin-left: 20px; 
}

.missatgeError {
    color: red;
}

.btn-default {
    margin-left: 0px;
}

#panelReserves {
    background-color: rgb(230, 230, 230);
}

.btn-primary {
    background-color: #515EF6;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #2d3df8;
}

#crearGimnas {
    visibility: hidden;
}

#editarGimnas {
    visibility: hidden;
}
