html, body {
	height: 100%;
	margin:0;
	padding:0;
}

.linkMaps {
    color: white;   
}


.nabvar-inverse .navbar-text {
	color: white;
}
/* title */
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: white;
}

#navbarDropdownUser {
    !visibility: hidden;
}

.missatgeError {
    color: red;
}

.panel {
    background-image: url('../img/home4.png');
    background-position: center center;
	
	/* La imatge de fondo no es repeteix */
	background-repeat: no-repeat;
	
	/* La imatge de fons esta fixada en el viewport, de manera que no es mou cuan la altura del contingut superi la altura de la imatge. */
	background-attachment: fixed;
	
	/* La imatge de fons es reescalarà quan canvii el ample de la finestra del navegador */
	background-size: cover;
    margin-top: -20px;
    float: left;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}


.panel1 {
    
    background-color: rgba(255, 255, 255, 0.92);
    width: 60%;
    height: 100%;
    float: left;
    
}

.panel2 {
    
    background-color: rgba(255, 255, 255, 0.63);
    width: 40%;
    height: 100%;
    float: right;
    
}

#wrap {
    box-shadow:0 0 20px rgba(0,0,0,.5);
    height: 80%;
    width: 50%;
    margin-left: 20px;
    float: left;
    overflow:hidden;
    position: relative;
    
    background-image: url('../img/fondoReserva.jpg'); 
	background-position: center center;
	background-repeat: no-repeat;
	!background-attachment: fixed;
	background-size: cover;
    !background-size: 100% 100%;
	
	/* Fixem un color de fons per a que es mostri mentres es carga la imatge de fons o si hi ha problemes en cargarla */
	background-color: #464646;
    
}

.bici{
    width: 15%;
    position: absolute;
}

.biciProfessor{
    width: 9%;
    position: absolute;
}

#bici1 {
    top: 30%;
    left:2%;
}

#bici2 {
    top: 30%;
    left:28%;
}

#bici3 {
    top: 30%;
    left:54%;
}

#bici4 {
    top: 30%;
    left:78%;
}

#bici5 {
    top: 46%;
    left:15%;
}

#bici6 {
     top: 46%;
    left:41%;
}

#bici7 {
     top: 46%;
    left:67%;
}

#bici8 {
    top: 60%;
    left:2%;
}

#bici9 {
    top: 60%;
    left:28%;
}

#bici10 {
    top: 60%;
    left:54%;
}

#bici11 {
    top: 60%;
    left:78%;
}

#bici12 {
    top: 73%;
    left:15%;
}

#bici13 {
    top: 73%;
    left:41%;
}

#bici14 {
    top: 73%;
    left:67%;
}

#biciProfessor {
    top: 8%;
    left:45%;
}

#panelData {
    height: 80%;
    width: 45%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#textButtonReserva {
    font-size: 20px;
}

.missatgeError {
    color: red;
}

#titolMissatge {
    margin-top: 120px;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.titol2 {
    color: #5360ff;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

body {
    background-image: url('../img/home1Blanca.jpg');
    !background-position: center center;
	
	/* La imatge de fondo no es repeteix */
	background-repeat: no-repeat;
	
	/* La imatge de fons esta fixada en el viewport, de manera que no es mou cuan la altura del contingut superi la altura de la imatge. */
	background-attachment: fixed;
	
	/* La imatge de fons es reescalarà quan canvii el ample de la finestra del navegador */
	background-size: cover;
}

.well {
  background-color: #e5e5e5;
  border: 1px solid #cbcbcb;
}

.btn-primary {
    background-color: #515EF6;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #2d3df8;
}

.glyphicon-calendar {
    color: #515EF6;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
   background-color: #515EF6;
}